/* HTML Styling */
html {
	background: url(background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-size: cover;
}
/*Body Styling */
body {
	padding-top: 20px;
	font-size: 20px;
	background: transparent;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
header {
	margin-top: 5px;
}
h1 {
	font-family: Snell Roundhand Script;
	font-size: 50px;
	text-align: center;
	margin-right: 350px;
	margin-left: 350px;
}
p {
	font-family: Snell Roundhand Script;
	font-size: 30px;
	text-align: center;
	margin-right: 350px;
	margin-left: 350px;
}

/*Vertical Alignment Class*/
.vertical-center {
	min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 50vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: right;
}
.flex-container-text { /* For Text Styling Only */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.flex-container {
	display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.flex-container-items {
    width: auto;
    height: auto;
}
/*Jumbotron Class*/
.jumbotron {  
	background-color: #F1EFDF;
	background-size: cover;
	background-image: url(banner.jpg);
    background-repeat:no-repeat;
    background-position:center 100%;
    padding:210px 0 210px 0;

}
/* NavBar Class */
.topnav {
  overflow: hidden;
  background-color: #333;
}
/* NavBar Class */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* NavBar Class *//* NavBar Class */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* NavBar Class */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
video {
    width: 896px;
    height: 508px;
}

/* Begin side navigation bar classes (Portfolio Page) */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav a {
    padding: 10px 10px 20px 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}
.sidenav a:hover {
    color: #f1f1f1;
}

/* End size navigation bar clasees (Portfolio Page) */